body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #0b4f6c;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero h2 {
    color: #0b4f6c;
    font-size: 32px;
}

.hero p {
    color: #555;
    font-size: 18px;
}

input {
    width: 80%;
    max-width: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background: #0b4f6c;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #08384d;
}.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px 20px;
}

.book-card {
    background: white;
    width: 280px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.book-card h3 {
    color: #0b4f6c;
    margin-top: 0;
}

.book-card p {
    color: #555;
}

.available {
    color: green !important;
    font-weight: bold;
}

.borrowed {
    color: red !important;
    font-weight: bold;
}
.form-section {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.form-section h2 {
    color: #0b4f6c;
    margin-bottom: 25px;
}

.form-section form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-section label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-section input {
    width: auto;
    max-width: none;
    padding: 12px;
}

.form-section button {
    margin-top: 25px;
}
.dashboard {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

.dashboard h2 {
    color: #0b4f6c;
    margin-bottom: 30px;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.dashboard-card {
    background: white;
    padding: 25px 15px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.dashboard-card h3 {
    color: #0b4f6c;
}

.dashboard-card p {
    font-size: 24px;
    font-weight: bold;
    margin: 15px;
}

.dashboard-card a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    background: #0b4f6c;
    color: white;
    border-radius: 5px;
}
